asgiref
certifi
cffi
charset-normalizer
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
filelock
geographiclib
geopy
h3
idna
Markdown
MouseInfo
mysql-connector-python
numpy
opencv-python
phonenumbers
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
pycparser
pygame
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
pytz
requests
setuptools
sqlparse
timezonefinder
typing_extensions
tzdata
urllib3
virtualenv